<div class="container">
  <div class="span4 offset4">
    <div id="tasks_flash" class="center">
      <%= render 'layouts/flash' if flash.any?%>
    </div>
    <h1 class="center">Sign In</h1>

    <%= form_tag('/sessions', class: "new_user center") do %>
      <div class="field">
        <%= label_tag 'Username' %>
        <%= text_field_tag 'username' %>
      </div>
      <div class="field">
        <%= label_tag 'Password' %>
        <%= password_field_tag 'password' %>
      </div>
      <div class="field">
        <%= submit_tag 'Sign in', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>