<div class="list">
  
  <div id="tasks_flash" class="center">
    <%= render 'layouts/flash' if flash.any?%>
  </div>
    
  <h3 class="title"><%= @task_list.name %></h3>

  <div class="form">
    <%= render 'tasks/form' %>
  </div>

  <div class="list_items">  
    <%= render 'task_lists/list' %>
  </div>  

  <div class="delete_button">
    <%= render 'task_lists/delete_complete' %>
  </div>
</div>